@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    /* border: none; */
    /* outline: none; */
    /* scroll-behavior: smooth; */
}

:root {
    --maincolor: rgb(5, 132, 223);
    /* --maincolor:rgb(149, 0, 255); */
    /* --bodycolor:rgb(3,0,57); */
    --bodycolor: rgb(3, 0, 57);
}

html {
    font-size: 100%;
    overflow-x: hidden;
}

body {
    background-color: var(--bodycolor);
    font-family: "Poppins", sans-serif;
}

span {
    color: var(--maincolor);
    /* font-weight: bold; */
}
/* *************************************************************** */
header {
    position: sticky;
    top: 0px;
    width: 100%;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 8vh;
    background-color: rgba(10, 10, 72, 0.956);
    padding: 0px 50px 0px 100px;
}
nav .logo{
    font-size: 1.5rem;
    font-weight: 600;
}
nav .logo a{
  color: white;
}
#click{
    display: none;
}
nav .menu-btn{
    font-size: 23px;
    color: white;
    display: none;
}
nav ul{
    display: flex;
}
nav ul li {
    margin: 0px 5px;
}
nav ul li a {
    font-size: 1rem;
    letter-spacing: 1px;
    font-weight: 450;
    color: white;
    padding: 8px 10px;
    border-radius: 4px;
    transition: all 0.2s ease;
}
/* nav ul li a.active , */
nav ul li a:hover{
    color: var(--maincolor);
    cursor: pointer;
}
@media screen and (max-width: 950px){
    body{
        /* background-color: #996c8c; */
    }
    nav ul{
        position: fixed;
        top: 8vh;
        left: -100%;
        background-color: #000635;
        width: 100%;
        height: 50vh;
        display: block;
        text-align: center;
        transition: all 0.5s ease;
    }
    nav .menu-btn{
        display: block;
    }
    #click:checked ~ ul{
        left: 0%;
    }
    #click:checked ~ .menu-btn i:before{
        content: "\f00d";
    }
    nav ul li{
        margin: 20px 0px;
    }
    nav ul li a{
       font-size: 15px;
    }
    nav ul li a:hover,
    nav ul li a.active{
       background: none;
        color: var(--maincolor);
    }
}
@media screen and (max-width: 500px){
    nav{
        padding: 0px 25px 0px 50px;
    }
    nav .logo{
        font-size: 1rem;
    }
    nav .menu-btn{
        font-size: 15px;
    }
}
/* *********************************************************** */
/* Main content */
#home {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    color: white;
    min-height: 92vh;
}
.home-content{
    font-size: 1.8rem;
    line-height: 6vh;
    font-weight: 500;
}
.home-img img{
    width: 500px;
}
.home-btn{
    margin: 10px 0px;
    padding-bottom: 4px;
}
.home-btn button{
    background-color: transparent;
    color: var(--maincolor);
    width: 130px;
    font-size: 17px;
    padding: 8px 10px;
    border: 2px solid var(--maincolor);
    border-radius: 10px;
}
.home-btn button:hover{
    box-shadow: 0px 0px 4px 1px var(--maincolor);
    cursor: pointer;
}
@media screen and (max-width: 950px){
    .home-content{
        font-size: 1.5rem;
        line-height: 1.6rem;
    }
    .home-btn button{
        width: 110px;
        font-size: 15px;
        padding: 6px 4px;
    }
    .home-img img{
        width: 400px;
    }
}
@media screen and (max-width: 750px){
    #home{
        flex-direction: column;
        align-content: space-between;
    }
    .home-content{
        text-align: center;
        width: 100%;
        line-height: 2rem;
    }
    .home-img img{
        width: 400px;
    }
    .home-btn{
        margin: 20px 0px;
    }
}
@media screen and (max-width: 400px){
    .home-img img{
        width: 300px;
    }
}

/* ***************************************************************** */
/* section 2 about content */
#section2 {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    margin: auto;
    align-items: center;
}

#section2 hr {
    width: 72vw;
}

.text_content {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    color: white;
    margin-top: 6px;
}

.text_content h1 {
    margin-bottom: 4px;
    font-size: 2rem;
    color: var(--maincolor);
}

.text_content p {
    font-size: 0.8rem;

}

.about-container {
    /* background-color: brown; */
    display: flex;
    justify-content: space-between;
    /* align-content: center; */
    align-items: center;
    width: 80vw;
    height: 95vh;
    /* flex-wrap: wrap; */
    /* margin-top: 10px; */
}

.box_sizing {
    /* background-color: rgb(106, 30, 176); */
    width: 35vw;
    height: 80vh;
    margin: 4px;
}

.left_of_section2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.image {
    /* margin: 10px; */
    /* border: 2px solid black; */
}

.left_of_section2 img {
    width: 28vw;
    border-radius: 50vh;
    /* margin-top: 8px; */
    /* margin-right: 20px; */
}

.btn2{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 28rem;
    margin-top: 10px;
}
.btn2 button {
    font-size: 1.1rem;
    border: 2px solid var(--maincolor);
    background-color: transparent;
    border-radius: 15px;
    width: 120px;
    height: 40px;
    color: var(--maincolor);
}
.btn2 button:hover {
    box-shadow: 0px 0px 5px 1px var(--maincolor);
    cursor: pointer;
}

.social-media {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 28vw;
    margin-top: 10px;
    /* margin-left: 15px; */
    /* border:2px solid red; */
    /* background-color: white; */

}

.social-media a i {
    width: 35px;
    height: 35px;
    font-size: 20px;
    color: var(--maincolor);
    border: 2px solid var(--maincolor);
    border-radius: 60px;
    background-color: transparent;
    margin: 10px 12px;
    padding-top: 6.5px;
    padding-left: 6.5px;
    /* box-shadow: 0px 0px 8px 6px white; */
}

.social-media a i:hover {
    box-shadow: 0px 0px 4px 3px var(--maincolor);
    background-color: var(--maincolor);
    border: 2px solid var(--maincolor);
    color: var(--bodycolor);
}

.right_of_section2 {
    /* padding: 35px 20px 20px 20px; */
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: baseline;
    padding-top: 1.5rem;
    display: none;
}

/* .right_of_section2 h1{
    text-align: center;
    border-bottom: 1px solid var(--maincolor);
    margin-top: 12px;
    text-decoration: underline;
} */
.right_of_section2 h3 {
    font-size: 1.4rem;
    font-weight: 500;
    color: white;
    padding-right: 2rem;
}

.right_of_section2 h3 span {
    font-size: 1.4rem;
    font-weight: 600;
}

.right_of_section2 p {
    font-size: 0.8rem;
    color: white;
}

.skills {
    margin-top: 23px;
    width: 400px;
    /* background-color: #aa1c1c; */
}

.skill-head {
    width: fit-content;
    font-size: 1.4rem;
    border-bottom: 2px solid var(--maincolor);
    color: var(--maincolor);
}

.skill-content {
    margin-top: -4px;
}

.skill-content p {
    margin-top: 10px;
    font-size: 1rem;
    color: white;
}

.skill-bar {
    width: 100%;
    height: 15px;
    background-color: #dddddd69;
    border-radius: 50px;
}

.skills-content {
    text-align: right;
    font-size: 11px;
    padding-right: 4px;
    border-radius: 50px;
}

.html {
    width: 85%;
    height: 15px;
    background-color: #f15502;
}

.css {
    width: 70%;
    height: 15px;
    background-color: #f10202;
}

.JavaScript {
    width: 45%;
    height: 15px;
    background-color: #42b020;
}

.node-js {
    width: 30%;
    height: 15px;
    background-color: #02d5f1;
}

.java {
    width: 80%;
    height: 15px;
    background-color: #2d40ce;
}

.cpp {
    width: 82%;
    height: 15px;
    background-color: #e70ea9;
}

.python {
    width: 75%;
    height: 15px;
    background-color: #22692c;
}

/*contact section*/
#section3 {
    /* background-color: rgb(31, 23, 142); */
    color: white;
    height: 100vh;
    max-width: 85vw;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#section3 hr {
    width: 70vw;
    background-color: red;
}

#contact_head {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    color: white;
    margin-top: 6px;
}

#contact_head p {
    font-size: 0.8rem;

}

#contact_head h1 {
    font-size: 2rem;
    color: var(--maincolor);
    margin-bottom: 4px;
}

#contact-box {
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-wrap: wrap; */
    /* border: 2px solid black; */
    width: 80vw;
    height: 85vh;
    /* margin: 60px 0px;
    padding: 4px; */
    margin-top: 4rem;
}

/* #contact-box .img{
    position: relative;
    top: 20vh;
    right: 18vw;
} */
.boxes {
    /* position: relative;
    top: -2vh; */
    width: 40vw;
    height: 80vh;
    /* background-color: #42b020; */
    margin: 8px;
}

.left-box form {
    display: inline-flex;
    flex-direction: column;
    /* border: 2px solid red; */
    align-items: start;
    width: 40vw;
    height: 55vh;
    margin-top: 1.5rem;
}

.left-box p {
    background-color: var(--maincolor);
    color: var(--bodycolor);
    border-radius: 4px;
    text-align: center;
    width: 38vw;
    margin-left: 1vw;
    height: 7vh;
    padding: 3px;
    font-size: 1.7rem;
    /* margin-bottom: 12px; */
}

.left-box form div {
    display: inline-flex;
    justify-content: center;
    /* border: 2px solid red; */
    /* margin-top: 0.5rem; */
}

.left-box form div div {
    display: flex;
    flex-direction: column;
    margin-left: 2vw;
    /* position: relative; */
    /* left: 2vw; */
}

.left-box form label {
    font-size: 1.2rem;
    /* margin: 0px 3px; */
    margin-bottom: -1.5rem;
    margin-top: 0.8rem;
}

.left-box form input,
textarea {
    width: 17vw;
    position: relative;
    /* top: -10px; */
    height: 8vh;
    background-color: transparent;
    border: 1px solid var(--maincolor);
    border-radius: 3px;
    padding: 6px;
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.599);
    /* margin-bottom:-0.5rem; */

}

.left-box form textarea {
    width: 36vw;
    height: 20vh;
    /* border: 2px solid var(--maincolor); */
    /* border-radius: 8px; */
    /* padding: 4px; */
    /* margin: 4px 0px; */

}
.left-box .btn3{
    /* border: 2px solid yellow; */
    width: 32rem;
    text-align: center;
    padding: 5px;
    margin-top: 2vh;
    margin-left: 2vw;
    width: 36vw;
}
.button6{
    margin-left: 2vw;
}
.button5{
    margin-right: 2vw;
}
.btn3 button {
    font-size: 1.1rem;
    border: 2px solid var(--maincolor);
    background-color: transparent;
    border-radius: 15px;
    width: 120px;
    height: 40px;
    color: var(--maincolor);
    /* margin-right:2rem ; */
   
}
.btn3 button:hover {
    box-shadow: 0px 0px 5px 1px var(--maincolor);
    cursor: pointer;
}

.right-box {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    /* margin: auto; */
    padding-left: 5rem;

}

.dialog {
    /* text-align: center; */
    margin-top: 2rem;
}

.dialog h3 {
    color: var(--maincolor);
    font-size: 1.9rem;
    margin-bottom: 0.8rem;
}

.my-info {
    margin-bottom: 9rem;
    color: var(--maincolor);
}

.my-info h3 {
    /* color: var(--maincolor); */
}

/* footerSection */
#footer {}

.foot {
    margin-top: 25px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    color: white;
    background-color: black;
    font-size: 0.85rem;
}



/* ************************************************ */
/* for resposive */
/* @media screen and ( max-width: 1300px ) {
    body{
    }
    .right_of_home img{
        width: 44vw;
        padding-top: 4rem;
    }
    .right_of_section2{
        padding-top: -1.5rem;
    }
    .my-info{
        margin-bottom: 11rem; 
    }
    
}
@media screen and ( max-width: 1150px ) {
    body{
    }
    .right_of_section2{
       margin-top: -2rem;
    }
    .skill-content p {
        margin-top: 10px;
        margin-bottom: 0px;
        font-size: 1rem;
        color: white;
    }
    .skill-bar {
        width: 80%;
        height: 5px;
        background-color: #dddddd69;
        border-radius: 50px;
    }
    .skills-content {
        font-size: 4px;
        padding-right: 4px;
        border-radius: 50px;
        height: 5px;
        padding-bottom: 2px;
    }
    .left-box p{
        padding: 0px;
    }
    .right-box {
        margin-top: -4rem;
    }
    .left-box form {
        margin-top: 0rem;
    }
    .left-box .btn3{
        margin-top: 2rem;
    }
    .right_of_home img {
        width: 43vw;
       margin-top: 0rem;
     }
     
}
@media screen and ( max-width: 1050px ) {
    body{
    }
    header{
        width: 1050px;
    }
    nav .right {
        left: 3rem;
    }
    .right_of_section2{
        padding: 10px 10px 10px 10px;
    }
    .btn1{
        width: 30vw;
    }
    
} 
@media screen and ( max-width: 900px ) {
    body{
        background-color:rgb(238, 255, 0);
        width: 100vw;
    }
    nav .right{
        display: none;
    }
    header{
        width: 900px;
    } 
   #home{
    flex-direction: column-reverse;
   }
   .left_of_home{
   }
   .right_of_home{
    width: 900px;
    height: 900px;
    
   }
   .right_of_home img{
    width: 700px;
   }
   .sa-left-right {
    background-color: brown;
    margin-left: 490px;

}
   .about-container{
    flex-direction: column;
   }
   .skill-bar{
    width: 60%;
   }
   #contact-box{
    flex-direction: column;
   }
    
}  */