@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    /* border: none; */
    outline: none;
    scroll-behavior: smooth;
}

:root {
    --maincolor: rgb(5, 132, 223);
    /* --maincolor:rgb(149, 0, 255); */
    /* --bodycolor:rgb(3,0,57); */
    --bodycolor: rgb(3, 0, 57);
}

html {
    font-size: 100%;
    overflow-x: hidden;
}

body {
    background-color: var(--bodycolor);
    font-family: "Poppins", sans-serif;
}

span {
    color: var(--maincolor);
    /* font-weight: bold; */
}

header {
    position: sticky;
    top: 0.1px;
    left: 0;
    right: 0;
    font-size: 1.4rem;
    color: white;
}

nav .left {
    font-size: 1.6rem;
}

nav .right {
    position: relative;
    left: 5rem;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 9vh;
    background-color: rgba(10, 10, 72, 0.956);
    font-size: 18px;
}

nav a {
    color: white;
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-left: 300px; */
}

nav ul li {
    list-style: none;
    margin: 23px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

nav ul li a:hover {
    color: var(--maincolor);
}

/* Main content */
#home {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    color: white;
    min-height: 91vh;
}

.sa-left-right {
    /* background-color: brown; */
    width: 38vw;
    height: 81vh;
    padding: 10px;

}

.left_of_home {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}
.right_of_home .control{
    /* border: 2px solid red; */
}

.btn1 {
    /* border: 2px solid black; */
    display: flex;
    align-items: center;
    width: 25vw;
    margin-top: 30px;
}

.btn1 button {
    font-size: 1.1rem;
    border: 2px solid var(--maincolor);
    background-color: transparent;
    border-radius: 15px;
    width: 120px;
    height: 40px;
    color: var(--maincolor);
}

.btn1 button:hover {
    box-shadow: 0px 0px 5px 1px var(--maincolor);
    cursor: pointer;
}

.button1 {
    margin-right: 35px;
}

.right_of_home {
}

.right_of_home img {
   width: 35vw;
}

/* section 2 about content */
#section2 {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    /* background-color: rgb(114, 107, 214); */
    height: 100vh;
    max-width: 85vw;
    margin: auto;
    align-items: center;
}

#section2 hr {
    width: 72vw;
}

.text_content {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    color: white;
    margin-top: 6px;
}

.text_content h1 {
    margin-bottom: 4px;
    font-size: 2rem;
    color: var(--maincolor);
}

.text_content p {
    font-size: 0.8rem;

}

.about-container {
    /* background-color: brown; */
    display: flex;
    justify-content: space-between;
    /* align-content: center; */
    align-items: center;
    width: 80vw;
    height: 95vh;
    /* flex-wrap: wrap; */
    /* margin-top: 10px; */
}

.box_sizing {
    /* background-color: rgb(106, 30, 176); */
    width: 35vw;
    height: 80vh;
    margin: 4px;
}

.left_of_section2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* text-align: center;  */
}

.image {
    /* margin: 10px; */
    /* border: 2px solid black; */
}

.left_of_section2 img {
    width: 28vw;
    border-radius: 50vh;
    /* margin-top: 8px; */
    /* margin-right: 20px; */
}

.btn2{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 28rem;
    margin-top: 10px;
}
.btn2 button {
    font-size: 1.1rem;
    border: 2px solid var(--maincolor);
    background-color: transparent;
    border-radius: 15px;
    width: 120px;
    height: 40px;
    color: var(--maincolor);
}
.btn2 button:hover {
    box-shadow: 0px 0px 5px 1px var(--maincolor);
    cursor: pointer;
}

.social-media {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 28vw;
    margin-top: 10px;
    /* margin-left: 15px; */
    /* border:2px solid red; */
    /* background-color: white; */

}

.social-media a i {
    width: 35px;
    height: 35px;
    font-size: 20px;
    color: var(--maincolor);
    border: 2px solid var(--maincolor);
    border-radius: 60px;
    background-color: transparent;
    margin: 10px 12px;
    padding-top: 6.5px;
    padding-left: 6.5px;
    /* box-shadow: 0px 0px 8px 6px white; */
}

.social-media a i:hover {
    /* box-shadow: 0px 0px 4px 3px var(--maincolor); */
    background-color: var(--maincolor);
    border: 2px solid var(--maincolor);
    color: var(--bodycolor);
}

.right_of_section2 {
    /* padding: 35px 20px 20px 20px; */
    display: flex;
    flex-direction: column;
    padding-top: 2.5rem;
}

/* .right_of_section2 h1{
    text-align: center;
    border-bottom: 1px solid var(--maincolor);
    margin-top: 12px;
    text-decoration: underline;
} */
.right_of_section2 h3 {
    font-size: 1.4rem;
    font-weight: 500;
    margin-top: 10px;
    color: white;
}

.right_of_section2 h3 span {
    font-size: 1.6rem;
    font-weight: 600;
}

.right_of_section2 p {
    margin-top: 10px;
    font-size: 0.8rem;
    color: white;
}

.skills {
    margin-top: 23px;
    width: 400px;
    /* background-color: #aa1c1c; */
}

.skill-head {
    width: fit-content;
    border-bottom: 2px solid var(--maincolor);
    color: var(--maincolor);
}

.skill-content {
    margin-top: -4px;
}

.skill-content p {
    margin-top: 10px;
    font-size: 1.2rem;
    color: white;
}

.skill-bar {
    width: 100%;
    height: 15px;
    background-color: #dddddd69;
    border-radius: 50px;
}

.skills-content {
    text-align: right;
    font-size: 11px;
    padding-right: 4px;
    border-radius: 50px;
}

.html {
    width: 85%;
    height: 15px;
    background-color: #f15502;
}

.css {
    width: 70%;
    height: 15px;
    background-color: #f10202;
}

.JavaScript {
    width: 45%;
    height: 15px;
    background-color: #42b020;
}

.node-js {
    width: 30%;
    height: 15px;
    background-color: #02d5f1;
}

.java {
    width: 80%;
    height: 15px;
    background-color: #2d40ce;
}

.cpp {
    width: 82%;
    height: 15px;
    background-color: #e70ea9;
}

.python {
    width: 75%;
    height: 15px;
    background-color: #22692c;
}

/*contact section*/
#section3 {
    /* background-color: rgb(31, 23, 142); */
    color: white;
    height: 100vh;
    max-width: 85vw;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#section3 hr {
    width: 70vw;
    background-color: red;
}

#contact_head {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    color: white;
    margin-top: 6px;
}

#contact_head p {
    font-size: 0.8rem;

}

#contact_head h1 {
    font-size: 2rem;
    color: var(--maincolor);
    margin-bottom: 4px;
}

#contact-box {
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-wrap: wrap; */
    /* border: 2px solid black; */

    width: 80vw;
    height: 85vh;
    /* margin: 60px 0px;
    padding: 4px; */
    margin-top: 4rem;
}

/* #contact-box .img{
    position: relative;
    top: 20vh;
    right: 18vw;
} */
.boxes {
    /* position: relative;
    top: -2vh; */
    width: 40vw;
    height: 80vh;
    /* background-color: #42b020; */
    margin: 8px;
}

.left-box form {
    display: inline-flex;
    flex-direction: column;
    /* border: 2px solid red; */
    align-items: start;
    width: 40vw;
    height: 70vh;
}

.left-box p {
    background-color: var(--maincolor);
    color: var(--bodycolor);
    border-radius: 4px;
    text-align: center;
    width: 38vw;
    margin-left: 1vw;
    height: 7vh;
    padding-top: 10px;
    font-size: 1.6rem;
    /* margin-bottom: 12px; */
}

.left-box form div {
    display: inline-flex;
    justify-content: center;
}

.left-box form div div {
    display: flex;
    flex-direction: column;
    margin-left: 2vw;
    /* position: relative; */
    /* left: 2vw; */
}

.left-box form label {
    font-size: 1.2rem;
    /* margin: 0px 3px; */
    margin-top: 8px;
}

.left-box form input,
textarea {
    width: 17vw;
    position: relative;
    top: -17px;
    height: 8vh;
    background-color: transparent;
    border: 1px solid var(--maincolor);
    border-radius: 3px;
    padding: 6px;
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.599);
    margin-bottom: -15px;

}

.left-box form textarea {
    width: 36vw;
    height: 20vh;
    /* border: 2px solid indigo; */
    /* border-radius: 8px; */
    /* padding: 4px; */
    /* margin: 4px 0px; */

}

.fname-fn {
    margin-bottom: 18px;
}

.btn3 {
    /* background-color: #e70ea9; */
    width: 35.5vw;
    margin-top: 20px;
}

.btn3 button {
    margin-left: 100px;
    background-color: transparent;
}

.right-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* margin: auto; */
    padding-left: 5rem;

}

.dialog {
    /* text-align: center; */
    margin-top: 2rem;
}

.dialog h3 {
    color: var(--maincolor);
    font-size: 1.9rem;
    margin-bottom: 0.8rem;
}

.my-info {
    margin-bottom: 13rem;
    color: var(--maincolor);
}

.my-info h3 {
    /* color: var(--maincolor); */
}

/* footerSection */
#footer {}

.foot {
    margin-top: 25px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    color: white;
    background-color: black;
    font-size: 0.85rem;
}



/* ************************************************ */
/* for resposive */
@media screen and ( max-width: 1300px ) {
    body{
        background-color:red;
    }
    .right_of_home img{
        width: 40vw;
        /* margin-top: 4rem; */
        padding-top: 4rem;
    }
    .right_of_section2{
        padding-top: 4.5rem;
    }
    .my-info{
        margin-bottom: 14.3rem; 
    }
    
}
/* @media screen and ( max-width: 1150px ) {
    body{
        background-color:rgb(0, 255, 30);
    }
    .social-media{
        width: 24vw;
        margin-left: 4rem;
    }
    .right_of_section2{
        padding: 20px 15px 15px 15px;
    }
    .right-box {
        margin-bottom: 2rem;
    }
    
} */
/* @media screen and ( max-width: 980px ) {
    body{
        background-color:rgb(238, 255, 0);
    }
    .right_of_section2{
        padding: 10px 10px 10px 10px;
    }
    
} */